.banner-inner img
{
 margin: auto;
 display: block;
 width: 100%;
}
.banner-inner
{
  position: relative;
}
.banner-text
{
  background-color: black;
  width: 500px;
position: absolute;
right: 0;
bottom: 0;
padding: 30px 45px;
border-right: 1px solid black;
border-radius: 30px 0 0px 30px;
}
.banner-text h3{
  
color: #3FE881;
font-size: 40px;
font-family: 'Roboto', sans-serif;
}
.breadcrumb li a
{
  color: #3FE881;
  font-family: 'Roboto', sans-serif;
font-size: 22px;
text-decoration: none;
}
.breadcrumb-item::before
{
  color: #3FE881 !important;
 ;
;
}