.coverflowSwiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.coverflowSlide {
  width: 300px;
  height: 300px;
}

.coverflowSlide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
