.footer {
    background: #F5F5F5;
    padding: 8% 80px 0;
    font-family: sans-serif;
}

.footer-top {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1.2fr;
  gap: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

/* Logo */
.logo img {
  width: 250px;
}

.logo span {
  color: #2cff7f;
}

/* About */
.footer-about p {
  color: #555;
  line-height: 1.6;
  margin: 20px 0;
  max-width: 295px;
}

/* Socials */
.socials {
  display: flex;
  gap: 14px;
}

.socials svg {
  font-size: 45px;
  cursor: pointer;
  background-color: black;
  border: 5px solid #2cff7f;
  color: white;
  border-radius: 50%;
padding: 10px;
  transition: 0.8s;
}
.socials svg:hover {
  transform: rotateY(360deg);
  background-color: #2cff7f;
  color: black;
}
/* Links */
.footer-links h4,
.footer-contact h4 {
  font-weight: 600;
  margin-bottom: 16px;
  margin-top: 11px;
  font-family: 'Roboto', sans-serif;
}

.footer-links a {
  display: block;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #2cff7f;
}

/* Contact */
.footer-contact p {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

/* Bottom */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  font-size: 14px;
  color: black;
  font-family: 'Roboto', sans-serif
}
.footer-contact a
{
  color: black;
  text-decoration: none;
  transition: 0.3s;
}
.footer-contact  a:hover {
  color: #2cff7f;
}
.footer-bottom-links {
  display: flex;
  gap: 24px;
}

.footer-bottom-links a {
  color: black;
  text-decoration: none;
}
.footer-bottom-links a:hover {
  color: #2cff7f;
}

/* Responsive */
@media (max-width: 1024px) {
  .footer {
    padding: 50px 40px 0;
  }

  .footer-top {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .footer-top {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}
