.newsletter-image img {
    position: relative;
    bottom: 135px;
    right: 0px;
    width: 500px;
    border-radius: 20px;
}
.newsletter-content {
  flex: 1;
  color: #fff;
  text-align: center;
}

.newsletter-content h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 1.3;
}

.newsletter-form {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.input-wrapper {
  position: relative;
  flex: 1;
}

.input-wrapper input {
  width: 100%;
  padding: 14px 16px 14px 44px;
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: #00e676;
 
}
.input-wrapper ::placeholder
{
  color: white;
font-size: 18px;
}
.email-icon {
    position: absolute;
    left: 12px;
    top: 46%;
    transform: translateY(-50%);
    color: white;
    font-size: 29px;
}

.newsletter-form button {
  padding: 14px 28px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #ffffff;
  color: #000;
  font-weight: 600;
  transition: 0.3s ease;
}

.newsletter-form button:hover {
  background: #00e676;
  color: #000;
}

.newsletter-note {
  font-size: 18px;
  color: #cfcfcf;
  margin-top: 5px;
}
#newsletter-section {
    padding: 45px 0 0 0;
    position: relative;
    top: 106px;
}
.newsletter-outer {
    background-color: black;
    height: 240px;
    border-radius: 30px;
    width: 80%;
    margin: auto;
}
.newsletter-content {
    padding: 37px 120px 0 30px !important;
}