#news-section
{
  background-color: black;
  padding: 50px 0px;
}
.three-cards-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.news-card {
  background: linear-gradient(180deg, #1a1f2b, #0d0f16);
  
  padding: 20px;
  color: #fff;
  height: 100%;
}
.news-image img
{
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 24px;
}
.news-image
{
  width: 100%;
  display: table;
}
.card-title
{
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0;
  font-family: 'Roboto', sans-serif;
padding-bottom: 10px;
}
.card-desc
{
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}