#galler-tabs {
    margin: 50px 0px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.gallery-box {
  border-radius: 20px;
  overflow: hidden;
  background: #eee;
  height: 250px;
  
}

.gallery-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease-in-out;
}
.gallery-box:hover img
{
  transform: scale(1.05);

}
.tabs-header.projects-header
{
  align-items: center;
  justify-content: center;
}
.tabs-content.projects-content
{
background-color: transparent;
}
.projects-header .tab-btn.active {
    background: #f1f1f1;
    color: #3FE881;
}
.projects-header .tab-btn
{
  background-color: transparent;
  color: black;
  font-size: 23px;
}