.container-fluid
{
  padding: 0px !important;
  margin: 0px !important;
}
.swiper-wrapper {
  transition-timing-function: linear !important;
}
#ribbon-slider {
    margin: 80px 0;
}
.main-ribbon-slider {
    background-color: black;
    padding: 5px 0px;
}
.ribbon-icon img
{
  width: 50px;
  margin-bottom: 7px;
}
.ribbon-icon strong
{
  color: white;
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   font-weight: lighter;
}