.scroll-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background-color: #3FE881;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.scroll-to-top:hover {
  background-color: #444;
}
