.tabs-wrapper {
  padding: 60px;
  background: #ffffff;
}

/* Tabs Header */
.tabs-header {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.tab-btn {
  padding: 12px 18px;
  border: none;
  border-radius: 6px 6px 0 0;
  background: #f1f1f1;
  color: #2dff9f;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
   font-family: 'Roboto', sans-serif;
}

.tab-btn:not(.active) {
    background: black;
    color: #2dff9f;
}

.tab-btn:hover {
  background: #000;
  color: #2dff9f;
}

.tab-btn.active {
  background: #f1f1f1;
  color: black;
}

/* Content Box */
.tabs-content {
  margin-top: 0px;
  background: #f1f1f1;;
  padding: 30px;
  border-radius: 0 0px 10px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.tabs-content p {
  font-size: 16px;
  line-height: 1.7;
  color: black;
}

/* Responsive */
@media (max-width: 768px) {
  .tabs-header {
    flex-direction: column;
  }

  .tab-btn {
    border-radius: 6px;
  }

  .tabs-content {
    border-radius: 10px;
  }
}
