#who-section
{
  margin: 50px 0px;
}
ul
{
  padding: 0px !important;
  margin: 0px !important;
}
li
{
  list-style-type: none;
}

.main-heading ul li
{
  list-style-type: none;
  display: inline-block;
  margin: 0 0px;
  font-family: 'Roboto', sans-serif;
}
.main-heading img {
    width: 40px;
    margin-bottom: 14px;
}
.main-heading
{
  text-align: center;
}
.main-heading h3
{
  margin: 0;
   font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;
text-align: center !important;
}
.main-heading h4
{
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-top: 15px;
  padding-left: 15px;
  text-transform: capitalize;
  color: black;
}
.main-heading .allsubtitle.white-allsubtitle
{
  color: white !important;
}
.stamp
{
  width: 40%;
  float: right;
}
.birdimage
{
  
  float: left;
 width: 470px;
    height: 270px;
}
.who-images .birdimage img {
    
    border: 1px solid black;
    border-radius: 30px;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.right-graphics
{
  width: 20%;
  float: right;
  position: relative;
}

.box2
{
  position: relative;
}


/* stamp positioning and smooth rotation */
.stamp-img {
    position: absolute;
    top: 60px;
    right: 12px;
    z-index: 2;
}

.stamp-img img {
  display: block;
  transform-origin: center center;
  animation: stamp-spin 12s linear infinite;
}

/* pause on hover (optional) */
.stamp-img:hover img {
  animation-play-state: paused;
}

/* keyframes declared at top-level */
@keyframes stamp-spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

/* Progress bar styles (simple, no Bootstrap required) */
.progress-wrapper {
  margin-top: 30px;
}
.progress-wrapper ul { 
  padding: 0; 
  margin: 0; 
  list-style: none; 
}
.progress-wrapper ul li {
  display: flex;
  align-items: center;
  gap: 12px;
}
.progress {
  width: 220px; /* overall width of the progress track */
  background: #e9ecef;
  border-radius: 0.25rem;
  height: 14px;
  overflow: hidden;
}
.progress-bar {
  background: #3FE881 !important;
  height: 100%;
  width: 0; /* controlled by inline style */
  color: black !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  transition: width .6s ease;
}
.inner-whowe {
    margin-top: 50px !important;
}
.camera-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    border: 1px solid black;
    margin-top: 30px;
}
.camera-image {
    width: 100%;
    
}
.allp
{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}
.progress-wrapper ul li {
  margin-bottom: 25px;
}
.progress-wrapper ul li .pro-icons
{
  color: #3FE881;
  font-size: 22px;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
}
.progress-wrapper ul li strong
{
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  width: 327px;
  padding-left: 17px;
}