
#why-section {
  margin-top: 80px;
  margin-bottom: 80px;
}
.why-content
{
  margin-top: 50px !important;
}


/* grid-css */

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  max-width: 1000px;
  width: 100%;
}

.itemes {
  border-radius: 24px;
  overflow: hidden;
  background: #f5f5f5;
  border: 1px solid black;
}
.itemes.ovel-item {
  border: none;
}
.itemes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.itemes-large {
  grid-row: span 2;
}


/* black-boxes */
.why-section {
  background: #000;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 900px;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
}

.why-card {
    background: linear-gradient(135deg, #0f1320, #000);
    padding: 43px 35px;
    color: #fff;
}

.why-card:nth-child(2),
.why-card:nth-child(3) {
  background: #000;
}

/* Icon */
.greenicon{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #3cff91;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3cff91;
  font-size: 20px;
  margin-bottom: 20px;
}

.why-card h3 {
  margin: 0 0 12px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.why-card p {
  font-size: 14px;
  line-height: 1.6;
  color: white;
  font-family: 'Roboto', sans-serif;
}
