
#why-section {
  margin-top: 80px;
  margin-bottom: 80px;
}
.why-content
{
  margin-top: 50px !important;
}


/* grid-css */
.new-gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  width: 100%;
}
.spiral-image{
  width: 310px;
  height: auto;
  display: block;
   border: 1px solid black;
   border-radius: 24px;
   overflow: hidden;
   grid-row: span 2;
}
.spiral-image img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.screw-image
{
  width: 310px;
  height: 267px;
  display: block;
   border: 1px solid black;
   border-radius: 24px;
   overflow: hidden;
   grid-column: 2;
   grid-row: 1;
}
.screw-image img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.nuts-image
{
  width: 310px;
  height: 270px;
  display: block;
   border: 1px solid black;
   border-radius: 24px;
   overflow: hidden;
   grid-column: 2;
   grid-row: 2;
}
.nuts-image img
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}



.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 8px;
  max-width: 1000px;
  width: 100%;
}

.itemes {
  border-radius: 24px;
  overflow: hidden;
  background: #f5f5f5;
  border: 1px solid black;
}
.itemes.ovel-item {
  border: none;
}
.itemes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.itemes-large {
  grid-row: span 2;
}


/* black-boxes */
.why-section {
  background: #000;
  padding: 60px 20px;
  display: flex;
  justify-content: center;
}

.why-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 900px;
  width: 100%;
  border-radius: 24px;
  overflow: hidden;
  
}

.why-card {
    background: black;
    padding: 31px 34px;
    color: #fff;
    border: 1px rgb(43, 45, 46) solid;
    
}

.why-card:nth-child(2),
.why-card:nth-child(3) {
  background: #000;
}

/* Icon */
.greenicon{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #3cff91;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3cff91;
  font-size: 20px;
  margin-bottom: 20px;
}

.why-card h3 {
  margin: 0 0 12px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.why-card p {
  font-size: 14px;
  line-height: 1.6;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.all-button.quote-btn {
  border: none;
}
